/*
 VARIABLES
-Ficheiro destinados a todas as variables do projeto
*/

:root{
    --blue01: #42446E;
    --grey05: #CCCCCC;
    --grey04: #A7A7A7;
    --grey03: #666666;
    --grey02: #363636;
    --grey01: #191919;
    --green01: #018C0F;
    --green02: #D7FFE0;
    --white:#fff;
    --black: #000;
    --primaryGradient: linear-gradient(90deg,#13B0F5 3%, #E70FAA 100%);
    --fontWeightLight: 300;
    --fontWeightMedium: 500;
    --fontWeightRegular: 400;
    --fontWeightSemiBold: 600;
    --fontWeightBold: 700;

}

html[data-theme="light"]{
    --backgroundProjectBox: var(--white); 
    --background:var(--white);
    --colorH1: var(--blue01);
    --colorH2: var(--blue01);
    --colorH3: var(--grey03);
    --colorH4: var(--blue01);
    --colorP:  var(--grey03);
    --colorPrimaryMenu: var(--grey03);
    --colorText: var(--blue01);
    --colorAnchor: var(--black);
    --colorBorder: #ebeaed;
}


html[data-theme="dark"]{
    --backgroundProjectBox:var(--grey02);
    --background:var(--grey01);
    --colorH1: var(--grey05);
    --colorH2: var(--grey05);
    --colorH3: var(--grey04);
    --colorH4: var(--grey05);
    --colorP:  var(--grey05);
    --colorPrimaryMenu: var(--grey04);
    --colorText: var(--white);
    --colorAnchor: var(--white);
    --colorBorder: #454545;
}