@import url("_variables.css");


html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}




body {
    background-color: var(--background);
    color: #fff;
    margin: 0;
}

/* Tipografias */

h1,
h2,
h3,
h4 {
    margin: 0;
}

h1,
h2 {
    font-weight: var(--fontWeightBold);
}

h1 {
    color: var(--colorH1);
    font-size: 5.8rem;

}

h2 {
    color: var(--colorH2);
    font-size: 2.4rem;

}

h3 {
    color: var(--colorH3);
    font-weight: var(--fontWeightRegular);
    font-size: 2rem;
}

h4 {
    color: var(--colorH4);
    font-weight: var(--fontWeightMedium);
    font-size: 2.8rem;
}

p {
    color: var(--colorP);
    font-weight: var(--fontWeightLight);
    font-size: 1.8rem;
}

small {
    color: var(--colorP);
    font-weight: var(--fontWeightLight);
    font-size: 1.4rem;
}

strong {
    color: var(--colorP);
    font-weight: var(--fontWeightRegular);
    font-size: 1.6rem;
}

section {
    margin: 100px 0;
}

/* MOBILE*/
.primaryHeader .columnRight>nav {
    display: none;
}

.primaryHeader .columnLeft {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.primaryHeader .columnLeft button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.primaryHeader .columnLeft button svg {
    stroke: var(--colorText)
}

.primaryHeader .columnLeft a {
    font-size: 4rem;
    font-weight: var(--fontWeightBold);
    color: var(--colorText);
    text-decoration: none;
}

.primaryHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.btnOpenMenuMobile,
.btnCloseMenuMobile {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.btnOpenMenuMobile svg path,
.btnCloseMenuMobile svg path {
    stroke: var(--colorBtnOpenMenuMobile);
}

.container {
    max-width: calc(100% - 30px);
    max-width: 1280px;
    margin: 15px;
}


/* section banner Mobile */

.sectionBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
}

.sectionBanner .columnLeft {
    min-width: 50%;
}

.sectionBanner .columnLeft h1 {
    font-size: clamp(2rem, 5vw, 5.8rem);
    line-height: clamp(2.5rem, 5vw, 6.5rem);
}

.sectionBanner .columnLeft h1 span {
    background: var(--primaryGradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sectionBanner .columnRight img {
    width: calc(100% - 9px);
    height: auto;
    border-radius: 100%;
}

.sectionBanner .columnRight {
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 349px;
    max-height: 349px;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
}

.sectionBanner .columnRight::before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primaryGradient);
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    transform: rotate(-90deg);

}

/* Stack mobile */

.sectionStack header {
    text-align: left;
}

.section header h2 {
    margin-bottom: 10px;
}

.section header h3 {
    margin-top: 0;
}

.sectionStack .stackImagesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    row-gap: 70px;
    flex-wrap: wrap;
    margin: 50px auto 0 auto;
}

.sectionStack .stackImagesContainer img {
    width: 60px;
}


/* section Projects Mobile*/


.sectionProjects header {
    text-align: left;
}

.sectionProjects header h2 {
    margin-bottom: 10px;
}

.sectionProjects header h3 {
    margin-top: 0;
}

.sectionProjects .projectsContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.projectBox {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--backgroundProjectBox);
}

.projectBox header img {
    width: 100%;
}

.projectContent {
    padding: 30px;
}

.projectContent p {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.projectContent h4 {
    margin: 0;
    line-height: 2.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.projectActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    gap: 10px
}


.projectActions .linkWithIcon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.projectActions .linkWithIcon a {
    color: var(--colorAnchor);
    text-decoration: underline;
    font-size: 1.6rem;

}

.projectActions .linkWithIcon:first-child svg path {
    /*corresponde ao icon do link "live preview */
    stroke: var(--colorAnchor);
}


.projectActions .linkWithIcon:last-child svg path {
    /*corresponde ao icon do ghitube "view code" */
    fill: var(--colorAnchor);
}


/* footer MOBILE*/


.footerWrapper .mainFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-top: 2px solid var(--grey03);
    border-bottom: none;
    gap: 10px;
    padding: 40px 0;
}



/* main footer MOBILE */


.footerWrapper .mainFooter .mainFooterColumn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

.footerWrapper .mainFooter .mainFooterColumn>div {
    width: 100%;
    text-align: center;
}

.footerWrapper .mainFooter .mainFooterColumn.columnLeft h2 {
    font-size: 4rem;
}


.mainFooterColumn.right ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 0;
}

.mainFooterColumn.right a {
    color: var(--colorP);
    font-weight: var(--fontWeightLight);
    font-size: 1.4rem;
    text-decoration: none;
}

/* MINI FOOTER MOBILE */

.miniFooter {
    display: none;
}

.viewMoreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 100px;
}

.viewMoreContainer a {
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: var(--fontWeightMedium);
    text-decoration: underline;
    color: var(--grey05) !important;
}

/* MENU MOBILE (FOR MOBILE) */

/* .menuMobileWrapper {} */

.drawerMenu {
    right: -300px;
    top: 0;
    position: fixed;
    background-color: var(--background);
    width: 100%;
    max-width: calc(300px - 60px);
    height: calc(100vh - 60px);
    z-index: 100;
    padding: 30px;
    display: flex;
    transition: all 0.3s ease;
    visibility: hidden;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.24);
}

.drawerMenu.opened {
    right: 0;
    visibility: visible;
}

.drawerMenu nav ul li a {
    font-size: 2.4rem;
    line-height: calc(2.4rem + 2.6rem);
    color: var(--colorPrimaryMenu);
    text-decoration: none;
    width: 100%;
    display: block;
    border-bottom: 2px solid var(--colorBorder);
}

.drawerMenu nav ul li:last-child a {
    border-bottom: none;
}

.drawerMenu nav ul {
    list-style: none;
    padding-left: 0;
}

/* START MEDIA QUERIES FOR SECTION PROJECTS */
@media (min-width: 576px) {

    .sectionProjects header {
        text-align: center;
    }

    .projectBox {
        width: calc(50% - 20px);
    }

    .projectContent p {
        font-size: clamp(1.4rem, 5vw, 1.8rem);
    }

    .projectContent h4 {
        font-size: clamp(2rem, 3vw, 2.8rem);
    }

}

/* section projects Desktop */
@media (min-width: 769px) {

    .projectBox {
        width: calc(33.333% - 20px);
    }

    .projectContent h4 {
        font-size: clamp(1.9rem, 2.5vw, 2.8rem);
    }

    .sectionProjects .projectsContainer {
        margin-top: 100px;
    }
}

/*END MEDIA QUERIES FOR SECTION PROJECTS */

/* DESKTOP*/
@media (min-width: 769px) {

    /* tipografia desktop */

    h1 {
        font-size: 5.8rem;

    }

    h2 {
        font-size: 4.8rem;

    }

    h3 {
        font-size: 3.2rem;
    }

    h4 {
        font-size: 2.8rem;
    }

    p {
        font-size: 1.8rem;
    }

    small {
        font-size: 1.4rem;
    }

    strong {
        font-size: 1.6rem;
    }

    section {
        margin: 200px 0;
    }

    .primaryHeader {
        margin-top: 50px;
    }


    .primaryHeader .columnRight .btnOpenMenuMobile {
        display: none;
    }


    .primaryHeader .columnRight {
        width: 80%;
    }


    .primaryHeader .columnRight nav {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .primaryHeader .columnRight nav ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 30px;
    }


    .primaryHeader .columnRight nav ul li a {
        font-size: 2rem;
        color: var(--colorPrimaryMenu);
        text-decoration: none;
    }

    .primaryHeader .columnRight nav ul {
        list-style: none;
    }

    .container {
        max-width: calc(100% - 30px);
        max-width: 1440px;
        /* margin: 0 auto; */
        margin: 15px;
    }


    /* section BANNER Desktop*/


    .sectionBanner .columnRight img {
        width: calc(100% - 15px);
        height: calc(auto - 15px);
    }

    /* Stack Desktop*/

    .sectionStack header {
        text-align: center;
    }


    .sectionStack .stackImagesContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 100px;
        row-gap: 70px;
        flex-wrap: wrap;
        margin: 100px auto 0 auto;
    }

    .sectionStack .stackImagesContainer {
        column-gap: 100px;
        margin: 100px auto 0 auto;
    }

    /* footer DESKTOP*/


    .footerWrapper .mainFooter {
        justify-content: space-between;
        border-bottom: 2px solid var(--grey03);
        border-top: none;
        height: 100px;
        gap: initial;
        padding: initial;
    }



    /* main footer Desktop */


    .footerWrapper .mainFooter .mainFooterColumn {
        flex-wrap: initial;
        width: initial;
        justify-content: space-between;
        gap: initial;
    }

    .footerWrapper .mainFooter .mainFooterColumn>div {
        width: initial;
        text-align: initial;
    }

    .mainFooterColumn.right ul {
        padding-left: 40px;
    }


    /* mini footer DESKTOP */

    .miniFooter {
        display: block;
        padding: 60px 0;
    }

    .miniFooter nav ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        padding-left: 0;
        margin-top: 0;
    }


    .miniFooter nav ul li a {
        font-size: 2rem;
        color: var(--colorPrimaryMenu);
        text-decoration: none;
    }

    .miniFooter .columnRight nav ul {
        list-style: none;
    }

    /* MENU MOBILE (FOR DESKTOP) */

    .drawerMenu {
        display: none;
    }
}






/* PAGES */

.about-page section {
    width: 100%;
    max-width: 700px;
    margin: 30px 0;

}

.about-page section header h2 {
    margin-bottom: 10px;
}

.about-page section.sectionAbout h1 {
    font-size: 4.2rem;
    font-weight: var(--fontWeightBold);
}

/* expList
expListItem
expFirstLine
expSecondLine */

.about-page .expList {
    color: var(--colorP);
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.about-page .expList .expListItem {
    padding-bottom: 20px;
    border-bottom: 2px solid var(--colorBorder);
    margin-bottom: 30px;
}

.about-page .expList .expFirstLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.about-page .expList .expFirstLine h3 {
    font-size: 2rem;
    font-weight: var(--fontWeightRegular);
}

.about-page .expBadge {
    background-color: var(--green02);
    color: var(--green01);
    padding: 7px 15px;
    border-radius: 100px;
    cursor: default;
    font-size: 0.9rem;
    font-weight: var(--fontWeightMedium);
}

.about-page .expList .expSecondLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-page .expList .expSecondLine>div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.about-page .expList .expSecondLine {
    font-size: 1.2rem;
    font-weight: var(--fontWeightMedium);
    color: var(--colorP);
}

/* pagina Stack */

.stack-page .sectionStack header {
    text-align: left;
}


.stack-page .stackImagesContainer {
    width: initial;
    column-gap: 100px;
}


/* pagina projetos */

.projects-page .sectionProjects header {
    text-align: left;
}

/* pagina contactos*/


.contact-page .sectionContact {
    margin: 200px 0;
    text-align: center;
}

.contact-page .sectionContact h1 {
    margin-bottom: 0;
    font-size: clamp(1.8rem, 5vw, 5rem);
}

.contact-page .sectionContact .content-email {
    background: var(--primaryGradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(1.8rem, 5vw, 5rem);
    font-weight: var(--fontWeightBold);
}