@import url("_variables.css");


html{
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}




body{
    background-color: var(--background);
    color: #fff;
    margin: 0;
}

/* Tipografias */

h1,h2,h3,h4{
    margin: 0;
}

h1,h2{
    font-weight: var(--fontWeightBold);
}

h1{
    color: var(--colorH1);
    font-size: 5.8rem;

}

h2{
    color: var(--colorH2);
    font-size: 2.4rem;

}

h3{
    color: var(--colorH3);
    font-weight: var(--fontWeightRegular);
    font-size: 2rem;
}

h4{
    color:var(--colorH4);
    font-weight: var(--fontWeightMedium);
    font-size: 2.8rem;
}

p{
    color:var(--colorP);
    font-weight: var(--fontWeightLight);
    font-size: 1.8rem;
}

small{
  color: var(--colorP);  
  font-weight:var(--fontWeightLight);
  font-size: 1.4rem;
}

strong{
  color: var(--colorP);  
  font-weight:var(--fontWeightRegular);
  font-size: 1.6rem;   
}

section{
    margin: 100px 0;
}




/* MOBILE*/
.primaryHeader .columnRight nav{
    display: none;
}
.primaryHeader .columnLeft{
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.primaryHeader .columnLeft button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.primaryHeader .columnLeft button svg{
    stroke: var(--colorText)
}

.primaryHeader .columnLeft h2{
    font-size: 4rem;
    font-weight: var(--fontWeightBold);
}

.primaryHeader{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.primaryHeader .columnRight .btnOpenMenuMobile{
    background-color: transparent;
    border: none;
}

.primaryHeader .columnRight .btnOpenMenuMobile svg path{
    stroke:var(--colorBtnOpenMenuMobile) ;
}

/* section banner Mobile */

.sectionBanner{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
}

.sectionBanner .columnLeft{
    min-width: 50%;
}

.sectionBanner .columnLeft h1{
    font-size: clamp(2rem, 5vw, 5.8rem);
    line-height: clamp(2.5rem, 5vw, 6.5rem);
}

.sectionBanner .columnLeft h1 span{
    background: var(--primaryGradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sectionBanner .columnRight img{
    width: calc(100% - 9px);
    height: auto;
    border-radius: 100%;
}

.sectionBanner .columnRight {
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 349px;
    max-height: 349px;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1; 
}

.sectionBanner .columnRight::before{
    content:"";
    width: 100%;
    height: 100%;
    background: var(--primaryGradient);
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    transform: rotate(-90deg);

}

/* Stack */

.sectionStack header{
    text-align: left;
}

.section header h2{
    margin-bottom: 10px;
}

.section header h3{
    margin-top: 0;
}

.sectionStack .stackImagesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    row-gap: 70px;
    flex-wrap: wrap;
    margin: 50px auto 0 auto;
}

.sectionStack .stackImagesContainer img{
    width: 60px;
}

.container{
    width: calc(100% - 30px);
    max-width: 1280px;
    margin: 0 auto;
}


/* DESKTOP*/
@media (min-width: 769px)  {


 /* Tipografia desktop */

h1{
    font-size: 5.8rem;

}

h2{
    font-size: 4.8rem;

}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;
}

p{
    font-size: 1.8rem;
}

small{
  font-size: 1.4rem;
}

strong{
  font-size: 1.6rem;   
}

section{
    margin: 200px 0;
}


.primaryHeader .columnRight .btnOpenMenuMobile{
    display: none;
}
    

.primaryHeader .columnRight{
    width: 80%;
}




.primaryHeader .columnRight nav{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
} 

.primaryHeader .columnRight nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}


.primaryHeader .columnRight nav ul li a{
    font-size: 2rem;
    color: var(--colorPrimaryMenu);
    text-decoration: none;
}

.primaryHeader .columnRight nav ul{
    list-style: none;
}
.container{
    max-width:calc(100% - 30px);
    max-width: 1280px;
    margin: 0 auto;
}


/* section BANNER Desktop*/


.sectionBanner .columnRight img{
    width: calc(100% - 15px);
    height: calc(auto - 15px);
}



/* Stack */

.sectionStack header{
    text-align: center;
}

.sectionStack .stackImagesContainer img{
    width: 120px;
}

.sectionStack .stackImagesContainer{

    column-gap: 100px;
    margin: 100px auto 0 auto;
}
}

.imageLight,
.imageDark{
    display: none;
}

html[data-theme="Light"] .imageLight{
    display: inline-block !important;
}

html[data-theme="dark"] .imageDark{
    display: inline-block !important;
}



/* section Projects */

/* https://getcssscan.com/css-box-shadow-examples    Para ir buscar o codigo CSS para as nossas boxs Shadows */

.sectionProjects header{
    text-align: center;
}

.sectionProjects header h2{
    margin-bottom: 10px;
}

.sectionProjects header h3{
    margin-top: 0;
}

.sectionProjects .projectsContainer{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 40px;
    row-gap: 60px;
    flex-wrap: wrap;
    margin-top: 100px;
}

.projectBox{
    max-width: 375px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--backgroundProjectBox); 

}

.projectContent{
    padding: 30px;

}

.projectContent h4{
    margin: 0;
    line-height: 2.8rem;
}

.projectActions{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 20px;
}


.projectActions .linkWithIcon{
    display: flex;
    align-items: center;
    gap: 10px;
}

.projectActions .linkWithIcon a{
    color: var(--colorAnchor);
    text-decoration: underline;
    font-size: 1.6rem;
    
}

.projectActions .linkWithIcon:first-child svg path{    /*corresponde ao icon do link "live preview */
    stroke: var(--colorAnchor);
}


.projectActions .linkWithIcon:last-child svg path{     /*corresponde ao icon do ghitube "view code" */
    fill: var(--colorAnchor);
}


/* footer */


.footerWrapper .mainFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--grey03);
    height: 100px;
}



/* main footer */


.footerWrapper .mainFooter .mainFooterColumn{
    display: flex;
    align-items: center;
}

.footerWrapper .mainFooter .mainFooterColumn.right{
    justify-content: flex-end;
}

.footerWrapper .mainFooter .mainFooterColumn.left{
    justify-content: flex-start;
}

.mainFooterColumn.right ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.mainFooterColumn.right a{
    color:var(--colorP);
    font-weight: var(--fontWeightLight);
    font-size: 1.8rem;
    text-decoration: none;
}


/* mini footer */

.miniFooter{
    padding: 60px 0;
}

.miniFooter nav ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding-left: 0;
    margin-top: 0;
}


.miniFooter nav ul li a{
    font-size: 2rem;
    color: var(--colorPrimaryMenu);
    text-decoration: none;
}

.miniFooter .columnRight nav ul{
    list-style: none; 
}


/* PAGES */

.about-page section {
    width: 100%;
    max-width: 700px;
    margin: 30px 0;

}

.about-page section header h2{
    margin-bottom: 10px;
}

.about-page section.sectionAbout h1{
    font-size: 4.2rem;
    font-weight: var(--fontWeightBold);
}

/* expList
expListItem
expFirstLine
expSecondLine */

.about-page .expList {
  color: var(--colorP);
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.about-page .expList .expListItem {
  padding-bottom: 20px;
  border-bottom: 2px solid var(--colorBorder);
}

.about-page .expList .expFirstLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-page .expList .expFirstLine h3 {
  font-size: 2rem;
  font-weight: var(--fontWeightRegular);
}

.about-page .expBadge {
  background-color: var(--green02);
  color: var(--green01);
  padding: 7px 15px;
  border-radius: 100px;
  cursor: default;
  font-size: 0.9rem;
  font-weight: var(--fontWeightMedium);
}

.about-page .expList .expSecondLine{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-page .expList .expSecondLine > div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.about-page .expList .expSecondLine{
    font-size: 1.2rem;
    font-weight: var(--fontWeightMedium);
    color: var(--colorP);
}

/* pagina Stack */

.stack-page .sectionStack header{
    text-align: left;
}


.stack-page .stackImagesContainer {
    width: initial;
    column-gap: 100px;
}


/* pagina projetos */

.projects-page .sectionProjects header{
    text-align: left;
}

/* pagina contactos*/


.contact-page .sectionContact {
    margin: 200px 0;
    text-align: center;
}

.contact-page .sectionContact h1{
    margin-bottom: 0;
}

.contact-page .sectionContact .content-email {
    background: var(--primaryGradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5.8rem;
    font-weight: var(--fontWeightBold);
}
